.App {
  text-align: center;
}

.inputField {
  margin-top: 16px;
  border: 2px solid coral;
}

.outputPara {
  width: 60%;
    margin: 16px auto;
    border: 1px solid dodgerblue;
    box-shadow: 0 2px 3px #ccc;
    background-color: rgba(30, 144, 245, .5);
    padding: 16px;
    text-align: center;
}
